{{ define "kubeconfig-tab-content" }}
<p>Kubeconfig - save the contents to a file and use it to connect to the cluster using Lens or 'kubectl'</p>
<div class="yaml">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <button class="btn" id="download-btn" style="float:right; margin-right: 10px;">Download</button>
  <pre><code>apiVersion: v1
clusters:
- cluster:
    server: {{ .K8sMasterURI }}
  name: {{ .ClusterName }}
contexts:
- context:
    cluster: {{ .ClusterName }}
    user: {{ .Username }}-{{ .ClusterName }}
  name: {{ if not .StaticContextName }}{{ .Username }}-{{ end }}{{ .ClusterName}}
current-context: {{ if not .StaticContextName }}{{ .Username }}-{{ end }}{{ .ClusterName}}
kind: Config
preferences: {}
users:
- name: {{ .Username }}-{{ .ClusterName }}
  user:
    auth-provider:
      config:
        client-id: {{ .ClientID }}
        client-secret: {{ .ClientSecret }}
        id-token: {{ .IDToken }}
        idp-issuer-url: {{ .Issuer }}
        refresh-token: {{ .RefreshToken }}
      name: oidc
  </code></pre>
</div>
<script>
  document.getElementById('download-btn').addEventListener('click', function() {
    var data = document.querySelector('.yaml code').innerText;
    var blob = new Blob([data], { type: 'text/yaml;charset=utf-8' });
    var url = window.URL.createObjectURL(blob);
    var a = document.createElement('a');
    a.href = url;
    a.download = "{{ .ClusterName }}-kubeconfig.yaml";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    window.URL.revokeObjectURL(url);
  });
</script>
{{ end }}